[server]
listenhost=0.0.0.0
listenport=25
fixermodules=smtputt.fixers.fromdate
relaymodules=smtputt.relays.smtp
authmodules=
authrequired=false
mynetworks=127.0.0.0/8

[smtputt.authorizers.ldap]
ldaphost=ldap.example.com
ldapport=389
ldapdnformat=uid=%u,ou=people,dc=example,dc=com
ldapssl=false

[smtputt.authorizers.dictauth]
authdict=exampleuser1:examplepass1,exampleuser2:examplepass2

[smtputt.relays.smtp]
remoteserver=
remoteport=25
remoteuser=
remotepassword=
remotessl=false

[smtputt.relays.mqtt]
mqttserver=
mqttport=1883
mqttuid=
mqttssl=false
mqttca=/etc/ssl/example.com.crt
mqtttopic=

[smtputt.fixers.fromdate]

[smtputt.fixers.fromaddress]
fromaddress=
