[server]
listenhost=0.0.0.0
listenport=25
fixermodules=smtputt.fixers.fromdate
relaymodules=smtputt.relays.smtp
authmodules=
authrequired=false
mynetworks=127.0.0.0/8

[smtputt.authorization.ldap]
ldapurl=ldap://ldap.example.com
ldapdnformat=uid=%u,ou=people,dc=example,dc=com

[smtputt.authorization.dictauth]
authdict=exampleuser1:examplepass1,exampleuser2:examplepass2

[smtputt.relays.smtp]
smtpurl=smtp://user:password@smtp.example.com

[smtputt.relays.mqtt]
mqttserver=
mqttport=1883
mqttuid=
mqttssl=false
mqttca=/etc/ssl/example.com.crt
mqtttopic=

[smtputt.fixers.fromdate]

[smtputt.fixers.fromaddress]
fromaddress=
